$primary: #fd3738;
$primaryHover: #e22a2a;
$secondary: #fd3738;
$whiteIce: #e6e2df;
$offWhite: #f8f7f3;
$primaryText: #79797c;
$secondaryText: #6f6f6f;
$darkColor: #000000;
$darkColorHover: #202020;
$lightColor: #ffffff;
